<!DOCTYPE html>
<html>
<head>
  <title>Angular App</title>
  <!-- ref:css css/<%= appName %>.min.css -->
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/lib/bootstrap.css">
  <!-- endref -->
</head>
<body>

  <div header id="header"></div>
  <div ng-view id="view"></div>
  <div footer id="footer"></div>

<!-- ref:js js/<%= appName %>.min.js -->
<!-- Libraries -->
<script src="js/lib/d3.js"></script>
<script src="js/lib/jquery.js"></script>
<script src="js/lib/moment.js"></script>
<script src="js/lib/underscore.js"></script>
<script src="js/lib/angular.js"></script>
<script src="js/lib/ui-bootstrap.js"></script>

<!-- Module -->
<script src="js/module.js"></script>

<!-- Controllers -->
<script src="js/app/ctrl/main.js"></script>
<script src="js/app/ctrl/login.js"></script>

<!-- Directives -->

<!-- Services -->
<script src="js/app/service/nav.js"></script>

<!-- Filters -->

<!-- Other -->
<script src="js/app/nav.js"></script>

<!-- Main -->
<script src="js/main.js"></script>
<!-- endref -->

</body>
</html>
