doctype 5
html
  head
    title My Presentation
    link(rel='stylesheet', href='/css/style.css')
  body
    #impress

      .step#title(data-x=100, data-y=400)
        p All of your slides will go in here

      .step#anotha(data-x=1000, data-y=400)
        p Here's how you put in an image
        img(src='/img/test.png')

    script(src='/js/lib/impress.js')
    script
      impress().init();
