body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#title {
  width: 400px;
}
#title p {
  font-size: 24px;
}
#anotha img {
  width: 100px;
}
